public class Container<Param> {
   private Param x;

   public void add(Param x) {
      this.x = x;
   }

   public Param get() {
      return x;
   }

   public static void main(String[] args) {
      Container<Integer> intContainer = new Box<Integer>();
      Container<Character> charContainer = new Box<Character>();
    
      intContainer.add(new Integer(10));
      charContainer.add(new Character('O'));

      System.out.println("Integer Value = %d", intContainer.get());
      System.out.println("Character Value = %c", charContainer.get());
   }
}
